# Visual Studio specifieke bestanden
.vs/
.vscode/
.idea/

# Build resultaten
/bin/
obj/

# NuGet bestanden
/packages/

# Logbestanden
*.log

# Build-output voor .NET Core / .NET projecten
/project.lock.json
/project.fragment.lock.json
